# Ignore the Library folder
RhythmGame/Library/

# Ignore the Logs folder
RhythmGame/Logs/

# Ignore the User Setting folder
RhythmGame/UserSettings/

# Ignore the Temp folder
RhythmGame/Temp/

# Ignore the VSCode
.vs/
